.title{
    text-decoration: underline;
    text-align: center;
}

.border
{
 box-sizing: border-box;
 border-style: dashed;
 width: 168px;
 padding: auto;
 padding-left:8px ;
 padding-right: 8px;
 margin: 10px;
}
.food_image{
 display: block;
}

.back_image
{
  background-color: #ebeb34;
  box-sizing: border-box;
}

.front_image
{
    background-color: aliceblue;
    box-sizing: border-box;  
    width: 600px;
    margin: auto;
}
.koshary_back_color
{
    background-color: #db0d1b;
    box-sizing: border-box;
}

.koshary_front_color
{
  background-color: antiquewhite;
  box-sizing: border-box;
   width: 630px;
   padding: 50px;
   margin: auto;
}
.food_descriptions
{
    box-sizing: border-box;
    border-style: groove;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtitle
{
    text-decoration: underline;
}
.koshary_steps
{
    box-sizing: border-box;
    border-style: dotted;
    width: 530px;
    margin: 8px ;
}
#mulu_back_color
{
    box-sizing: border-box;
    background-color: greenyellow;
}