.title{
    text-decoration: underline;
    text-align: center;
}

.border
{
 box-sizing: border-box;
 border-style: dashed;
 width: 168px;
 padding: auto;
 padding-left:8px ;
 padding-right: 8px;
 margin: 10px;
}
.food_image{
 display: block;
}

.back_image
{
  background-color: yellowgreen;
  box-sizing: border-box;
}

.front_image
{
    background-color: aliceblue;
    box-sizing: border-box;  
    width: 600px;
    margin: auto;
}